//Header
.intro-header(data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% 300px;')
    .container
        .row
            .col-lg-12(data-0='opacity:1;', data-800='opacity: 0.7')
                .intro-message
                    h1(style='display: block;') Lacam
                    h3(style='display: block;') Corporate and Industrial Cleaning Services
                    hr.intro-divider(style='display: block;')
                    ul.list-inline.intro-social-buttons
                        li
                            // todo link to facebook page
                            a.btn.btn-default.btn-lg(href='#')
                                i.fa.fa-facebook.fa-fw
                                span.network-name  Facebook
                        li
                            // todo link to linked in page
                            a.btn.btn-default.btn-lg(href='#')
                                i.fa.fa-linkedin.fa-fw
                                span.network-name  Linkedin
                        li
                            a.btn.btn-default.btn-lg.contact-button(href='#')
                                i.fa.fa-phone.fa-fw
                                span.network-name  Phone
                        li
                            a.btn.btn-default.btn-lg.mail-button(href='mailto:cleaning@lacam.co.za')
                                i.fa.fa-envelope
                                span.network-name  EMail
                    div(style='display: block;')
                        a(href='assets/docs/bee-certificate.pdf')
                            #bee.thumbnail
                                img(src='assets/img/icons/lacam-hist-icons_BBBEE.svg', alt='')
                                h2.text-muted(style='')
                                    i.fa.fa-certificate
                                    |  BBBEE Level 2
                                    |                                         Certified