.container(style='padding-top:20px;')
   .row
      .col-md-12.text-center
         blockquote(data-bottom-center='opacity:0;', data-center='opacity: 1')
            h3
               | Quality is never an accident; it is always the result of high intention, sincere effort,
               | intelligent direction and skillfull execution; it represents the wise choice of many
               | alternatives.
            footer William A. Foster
         svg(width='80%', height='5px')
            rect(x='0', y='5', rx='20', ry='20', width='100%', height='3', style='stroke:#AAAAAA;stroke-width:3;opacity:0.8', data-bottom='@width:0%; stroke-width:1; @height:1;', data--300-bottom='@width:100%; stroke-width:3;')
