a(name='clients')
.section-clients.clients-section
    .text-center
        .info
            h1.header-text Some of the people we've worked with
            .logos
                ul.list-unstyled
                    li
                        a(href='http://www.ndtprojects.co.za/')
                            img(src='assets/img/clients/ndt_logo.png')
                    li
                        a(href='http://www.aepgroup.co.za/')
                            img(src='assets/img/clients/aep-logo-group.svg')
                    li
                        a(href='http://www.1steel.co.za/')
                            img(src='assets/img/clients/1steel_logo.png')
                    li
                        a(href='http://www.cisengineering.co.za/')
                            img(src='assets/img/clients/cis_logo.png')
                    li
                        a(href='http://www.erdfab.co.za/')
                            img(src='assets/img/clients/erd_logo.png')
                    li
                        a(href='http://www.structa.co.za/')
                            img(src='assets/img/clients/structa_logo.png')
                    li
                        a(href='http://www.turnmill.co.za/')
                            img(src='assets/img/clients/turnmill_logo.png')
                    li
                        a(href='http://www.structa.co.za/')
                            img(src='assets/img/clients/structa-group-logo.png')