a(name='clients')
.section-clients.clients-section
    .text-center
        .info
            h1.header-text Some of the people we've worked with
            .logos
                ul.list-unstyled
                    li
                        a(href='http://www.ndtprojects.co.za/')
                            img(src='assets/img/ndt_logo.png')
                    li
                        a(href='http://www.aepgroup.co.za/')
                            img(src='assets/img/aep-logo-group.svg')
                    li
                        a(href='http://www.1steel.co.za/')
                            img(src='assets/img/1steel_logo.png')
                    li
                        a(href='http://www.cisengineering.co.za/')
                            img(src='assets/img/cis_logo.png')
                    li
                        a(href='http://www.erdfab.co.za/')
                            img(src='assets/img/erd_logo.png')
                    li
                        a(href='http://www.structa.co.za/')
                            img(src='assets/img/structa_logo.png')
                    li
                        a(href='http://www.turnmill.co.za/')
                            img(src='assets/img/turnmill_logo.png')
                    li
                        //- todo: get structa group logo
                        a(href='http://www.structa.co.za/')
                            img(src='http://placehold.it/300x200/222&text=Structa+Logo')