a(name='contact')
.banner(style='background-size:cover;')
   .row
      #container.col-md-12.text-center
         // <h2>:</h2>
         a.btn.btn-default.btn-lg.mail-button(href='mailto:cleaning@lacam.co.za')
            i.fa.fa-envelope
            span.network-name  Get a quote