.content-section-c(data-bottom-top='background-position: 100% 0%;', data-top-bottom='background-position: 100% 50%;')
    .container
        .row
            .col-lg-5.col-sm-6(style='color:#EEE; opacity:1; background-color: rgba(30,30,30,0.5);')
                hr.section-heading-spacer
                .clearfix
                h2.section-heading
                    i.fa.fa-crosshairs
                    |                         Our Aim
                p.lead
                    | Specialist knowledge, personal, and dedicated service.
                    br
                    |  We deliver the service on time and
                    |                         correctly, keep in constant communication with you, and build long term relationships.
                    i.fa.fa-smile-o
            .col-lg-5.col-lg-offset-2.col-sm-6
                // <img class="img-responsive" src="img/Office-Cleaning-web.jpg" alt="">