.content-section-b(data-bottom-top='background-position: 100% 60%;', data-top-bottom='background-position: 100% 20%;')
    .container
        .row
            .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
                hr.section-heading-spacer
                .clearfix(style='text-shadow: 0.05em 0.05em 0.1em rgb(255, 255, 255);')
                h2.section-heading(style='opacity:1; text-shadow: 0.05em 0.05em 0.1em rgb(255, 255, 255);')
                    i.fa.fa-heartbeat
                    | We care about your health
                p.lead(style='opacity:1; text-shadow: 0.05em 0.05em 0.1em rgb(255, 255, 255);')
                    | Lacam considers health and safety as a priority and realises that it is everyone's
                    | responsibility to ensure that every step is taken to provide and maintain a working environment
                    | that is safe and free from health risks.
            .col-lg-5.col-sm-pull-6.col-sm-6
                img.img-responsive(src='assets/img/health2.png', alt='')