#quality.content-section-a.bcg(data-bottom-top='background-position: 80% 30%;', data-top-bottom='background-position: 120% -10%;')
    .container
        a(href='http://lacam.co.za/images/doc20141001140406.pdf', style='color:black;')
            .row
                .col-lg-5.col-sm-6.box(data-bottom='background-color:rgba(255, 255, 255,0);', data-bottom-center='background-color:rgba(255, 255, 255,0);', data-center='background-color:rgba(255, 255, 255,0.5);')
                    hr.section-heading-spacer
                    .clearfix(style='text-shadow: 0.05em 0.05em 0.1em rgb(255, 255, 255);')
                    h2.section-heading(style='opacity:1; text-shadow: 0.05em 0.05em 0.1em rgb(255, 255, 255);')
                        i#cert.fa.fa-certificate.fa-spin-hover
                        | Our SHEQ Policy
                    p.lead(style='opacity:1; text-shadow: 0.05em 0.05em 0.1em rgb(255, 255, 255);')
                        | We pride ourselves in following our Safety, Health, Environment and Quality policy in
                        | detail, by ensuring that our work is planned and controlled in such a manner that we meet
                        | the requirements of our customers, using resources, skilled staff and equipment to ensure
                        | customer requirements and satisfaction.