section#history
    .container
        .row(style='margin:40px;')
            .text-center.col-md-10.col-md-offset-1
                h2(style='margin:20px;') Our History
                p.lead
                    | Lacam Cleaning Services (Pty) Ltd is an industrial and commercial Contract Cleaning Company based
                    | in the Vaal Triangle Gauteng.
                    | The company was established in July 2014 and successfully provides industrial and commercial
                    | contract cleaning services to 7 major engineering and structural steel fabricators in the Vaal
                    | Triangle.
                    | Our track record speaks for itself.
                    | Lacam prides itself to be 100% woman owned and is a 70% black owned entity. Lacam is a level 2
                    | BBBEE certified company and to date, the company has created over 40 jobs and is operational in
                    | Meyerton, Vereeniging, Vanderbijlpark and Sasolburg.
        .row.text-center
            .col-md-4
                a(href='assets/docs/bee-certificate.pdf')
                    .thumbnail
                        img(src="assets/img/icons/lacam-hist-icons_BBBEE.svg")
                        p.text-muted
                            i.fa.fa-certificate
                            | Certified BEE Level II
            .col-md-4
                    .thumbnail
                        include svgs/_jobs-svg
                        p.text-muted
                            i.fa.fa-child
                            | Over 40 Jobs Created
            .col-md-4
                a(href='assets/docs/letter-of-good-standing.pdf')
                    .thumbnail
                        include svgs/_good-standing-svg
                        p.text-muted
                            i.fa.fa-check
                            | Letter of good standing