a(name='team')
section#team.bg-light-gray
   .container
      .row
         .col-lg-12.text-center
            h2.section-heading Our Amazing Team
            h3.section-subheading.text-muted The people behind the business
      .row
         .col-sm-4
            .team-member
               img.img-responsive.img-circle(src='assets/img/management/Adelaide.jpg', alt='')
               h4 Adelaide Ruiters
               p.text-muted Managing Director
               ul.list-inline.social-buttons
                  li
                     a(href='https://www.linkedin.com/pub/adelaide-ruiters/4a/423/431')
                        i.fa.fa-linkedin
         .col-sm-4
            .team-member
               img.img-responsive.img-circle(src='assets/img/management/Lydia.jpg', alt='')
               h4 Lydia Mokoena
               p.text-muted Operations Director
               ul.list-inline.social-buttons
         .col-sm-4
            .team-member
               img.img-responsive.img-circle(src='assets/img/management/Carien.jpg', alt='')
               h4 Carien Booysen
               p.text-muted Financial Director
               ul.list-inline.social-buttons
                  li
                     a(href='https://www.linkedin.com/pub/carien-booysen/9a/653/326')
                        i.fa.fa-linkedin
      .row
         .col-sm-4
            .team-member
               img.img-responsive.img-circle(src='assets/img/management/Anienn.jpg', alt='')
               h4 Anienn Senekal
               p.text-muted Corporate Governance and Administrative Director
               ul.list-inline.social-buttons
         .col-sm-4
            .team-member
               img.img-responsive.img-circle(src='assets/img/management/MaryAnn.jpg', alt='')
               h4 Mary-Ann Watkins
               p.text-muted Human Resources Director
               ul.list-inline.social-buttons
         .col-sm-4
            .team-member
               img.img-responsive.img-circle(src='assets/img/management/Jonathan.jpg', alt='')
               h4 Jonathan Watkins
               p.text-muted Operations manager
               ul.list-inline.social-buttons