a(name='services')
.features-section(align='')
   .container(data-bottom-center='opacity:0;', data-140-center='opacity: 1')
      .row
         .text-center.col-md-10.col-md-offset-1
            h2
               | What we offer you
            p
               | Lacam has a successful track record and prides itself to offer a wide variety of quality, cost
               | efficient industrial and commercial contract cleaning services strictly in adherence to industry
               | specifications and procedures. We do offer services from daily industrial and commercial
               | cleaning to large corporates to smaller businesses requiring less frequent cleaning.
   #features
      .row.text-center
         .col-sm-6.col-md-3.feature
            .thumbnail
               img(src='assets/img/office_cleaning2.jpg')
               .caption
                  h3 Office Cleaning
                  p
                     | We minimize the impact of our operations on your work environment while keeping your
                     | workplace clean.
         .col-sm-6.col-md-3.feature
            .thumbnail
               img(src='assets/img/ablution_facilities2.jpg')
               .caption
                  h3
                     | Ablution Facilities
                  p
                     | Our ablution facilities can cope with high amounts of traffic without compromising on
                     | hygiene and cleanliness.
         .col-sm-6.col-md-3.feature
            .thumbnail
               img(src='assets/img/kitchen_cleaning2.jpg')
               .caption
                  h3
                     | Kitchen Cleaning
                  p
                     | We ensure that your kitchen areas provide a clean and hygienic environment for staff,
                     | enabling you to meet stringent food safety standards.
         .col-sm-6.col-md-3.feature
            .thumbnail
               img(src='assets/img/services/industrial-cleaning.png')
               .caption
                  h3
                     | Industrial Cleaning
                  p
                     | We provide a healthy environment for your employees by committing to compliance with the
                     | requirements of OSHAS 18001.