ul.social-buttons li a:hover {
  border: none;
}
.section-clients {
  padding: 200px 0;
}
section#team {
  background: #252526 none repeat scroll 0 0;
  color: white;
  padding: 5%;
  box-shadow: 0 0 10px #000;
  margin: 5% 0;
}
section.gallery-section h2.section-heading {
  margin-bottom: 3%;
  font-size: 3em;
}
section.gallery-section .carousel-inner .item img {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
section.gallery-section .carousel-indicators li {
  box-shadow: 0 0 5px black;
  transition: all .4s;
  width: 25px;
  height: 25px;
}
section.gallery-section .carousel-indicators .active {
  width: 40px;
}
.section-clients {
  background: #d8d8d8 none repeat scroll 0 0;
  margin-top: 30px;
  box-shadow: inset 0 0 10px black;
}
.section-clients h1.header-text {
  font-size: 2.5em;
}
.section-clients .logos li img {
  max-width: 200px;
}
