doctype html
html(lang='en')
    include includes/_head
    body
        include includes/_nav

        .content
            include includes/sections/intro/_header

            // block quote
            include includes/sections/intro/quote

            // Our services
            include includes/sections/services/services

            // Highlights
            include includes/sections/highlights/highlights

            // about us
            include includes/sections/about/about

            // clients
            include includes/sections/clients/clients

            // outro
            include includes/sections/outro/outro

            // contact
            include includes/sections/contact/contact

        include includes/sections/footer/_footer

        include includes/_scripts