.container(style='margin-top:30px;')
    .row
        .col-md-4
            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3564.369863165046!2d27.831371362230897!3d-26.700628621294104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e94598a9dd91a9f%3A0x24292d7df524b5c6!2s22+Hertz+Blvd%2C+Vanderbijlpark%2C+1900!5e0!3m2!1sen!2sza!4v1426845663309', width='100%', height='380', frameborder='0', style='border:0; border-radius: 25px;')
        .col-md-4.text-center(style='padding-top:40px;')
            address
                i.fa.fa-home
                strong
                    | Lacam Corporate and
                    br
                    | Industrial Cleaning
                    | Services
                br
                | 22 Hertz Blvd
                br
                | 1911
                br
                abbr(title='Phone')
                    | P:
                | (016) 981 7226
            address
                i.fa.fa-person
                strong
                    | Adelaide Ruiters
                br
                | 082 338 3545
                br
                a(href='mailto:cleaning@lacam.co.za', style='')
                    //i.fa.fa-envelope
                    | cleaning@lacam.co.za
        .col-md-4
            script(language='javascript').
                var sa_email_id = '47924-96444';
                var sa_sent_text = 'Thank you for contacting us. We will get back to you soon.';
            script(language='javascript', src='http://s1.smartaddon.com/sa_htmlform.js')
            #sa_contactdiv
                form(name='sa_htmlform', style='margin:0', onsubmit='return sa_contactform()')
                    table
                        tr
                            td
                                | Name:
                                br
                                input(type='text', name='name', required='', placeholder='Name')
                        tr
                            td
                                | E-mail Address:
                                span(style='color:#D70000') *
                                br
                                input(type='text', name='email', required='', placeholder='address@domain.com')
                        tr
                            td
                                | Subject:
                                br
                                input(type='text', name='subject', placeholder='Quote')
                        tr
                            td
                                label
                                |  Message:
                                span(style='color:#D70000') *
                                br
                                textarea(name='message', cols='42', style='font-size:1.2em;', rows='6')
                                input.submit(type='submit', value='Send Message')